html, body, h1, h2, h3, h4, h5, h6, p, a, section, label, div, span {
  font-family: 'Courier New', Courier, monospace !important;
  color: #1f1f1f;
}

body {
  background-color: #fffcf7;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  padding-right: 2rem;
}

.filters {
  justify-content: space-evenly;
  z-index: 1;
}

.autocomplete .bk.bk-menu.bk-below {
  max-height: 30vh;
  overflow-y: auto;
}