{% extends base %}

{% block title %}Internet Movie Visualizer{% endblock %}

{% block preamble %}
<link href="internet-movie-visualizer/static/index.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block contents %}
<div id="sidebar" class="sidebar">
  <span class="material-icons md-36 close" onclick="closeNav()">
    close
  </span>
  <div id="sidebar-content" class="content">
    <h3>Instructions</h3>
    <p class="info-text">The Internet Movie Visualizer allows you to explore films and TV-series filtered by year of release and creator (director, writer, composer, actor etc.).</p>
    <p class="info-text">The Top List includes titles with 1000 or more votes. If none of the filtered titles have 1000 votes, all filtered titles with any ratings are included.</p>
    <p class="info-text">In Titles Released Per Year, series are included in each year between their start and end years.</p>
    <p class="info-text">In Most Popular Genres, click a bubble to see the highest-rated titles and the amount of released titles for a specific genre. You can select multiple genres by Shift+click. Undo the selection by clicking on empty space near the bubbles.</p>
    <h3>Credits</h3>
    <p class="info-text">Visualization by:<br />Mika Kuitunen<br />Kaisa Korpisaari</p>
    <p class="info-text">Source code available at: <a href="https://github.com/kaisuliinos/internet-movie-visualizer">https://github.com/kaisuliinos/internet-movie-visualizer</a></p>
    <p class="info-text">This visualization uses datasets from IMDb which can be found at: <a href="https://www.imdb.com/interfaces/">https://www.imdb.com/interfaces/</a></p>
  </div>
</div>

<div class="main-container">
  <h1>Internet Movie Visualizer</h1>
  <div class="row filters">
    <span class="material-icons md-36 menu-button" onclick="openNav()">
      help_outline
    </span>
    {{ embed(roots.filter_tab) }}
    {{ embed(roots.filter_year) }}
    <div class="row">
      {{ embed(roots.filter_name) }}
      {{ embed(roots.filter_name_button) }}
    </div>
  </div>
  <div class="row charts">
    <div class="column left">
      <h2>Top 10 Best Rated Titles</h2>
      {{ embed(roots.top_list) }}
      <h2>Titles Released Per Year</h2>
      {{ embed(roots.titles_bar_chart) }}
    </div>
    <div class="column right">
      <h2 class="bubble-title">Most Popular Genres</h2>
      {{ embed(roots.genre_bubble_chart) }}
    </div>
  </div>
</div>

<script>
  function openNav() {
    console.log(document.getElementById("sidebar-content").style);
    document.getElementById("sidebar").style.width = "500px";
  }
  
  function closeNav() {
    document.getElementById("sidebar").style.width = "0";
  }
</script>
{% endblock %}