{% extends base %}

{% block title %}Internet Movie Visualizer{% endblock %}

{% block preamble %}
<link href="internet-movie-visualizer/static/index.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="main-container">
  <h1>Internet Movie Visualizer</h1>
  <div class="row filters">
    {{ embed(roots.filter_tab) }}
    {{ embed(roots.filter_year) }}
    <div class="row">
      {{ embed(roots.filter_name) }}
      {{ embed(roots.filter_name_button) }}
    </div>
  </div>
  <div class="row">
    <div class="column left">
      <h2>Top 10 best rated titles</h2>
      {{ embed(roots.top_list) }}
      <h2>Titles released per year</h2>
      <section>Series are included in each year between their start and end years</section>
      {{ embed(roots.titles_bar_chart) }}
    </div>
    <div class="column right">
      <h2>Most popular genres</h2>
      {{ embed(roots.genre_bubble_chart) }}
    </div>
  </div>
</div>
{% endblock %}